<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210250816523-mh68cm80r3btjj0o3juacudftd0mq025.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210250816523-mh68cm80r3btjj0o3juacudftd0mq025</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>210250816523-5alf7hefjismu06u3evc2q38qtsghaak.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCadFmlAfJANEbiQb1EwA157E48wYhfFeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>210250816523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilyas666.Fiind</string>
	<key>PROJECT_ID</key>
	<string>fiind-e3b50</string>
	<key>STORAGE_BUCKET</key>
	<string>fiind-e3b50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210250816523:ios:92e2df3f2c8395439dbb0e</string>
	<key>DATABASE_URL</key>
	<string>https://fiind-e3b50.firebaseio.com</string>
</dict>
</plist>